body {
    background-color: white;
    color:black;
}
#topo {
    font-family: 'Times New Roman', Times, serif;
}

#nome {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    margin-bottom: 0px;
    margin-left: -10px;
}

#fotoDePerfil {
    display: inline-block;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -10px;
    background-color: yellow;
}

#desc {
    display: inline-block;
    width: 30%;
    margin-bottom: 0px;
    overflow: auto;
    background-color: cyan;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#habilidades{
    background-color: white;
    color: black;
    margin-top: 0px;
    overflow: auto;
}
#habilidades h3{
    font-size: 30px;
    padding-top: 0px;
    margin-bottom: 0px;
}
#habilidade p{
    font-size: 20px;
}