/* tutorial para estilização de tabela: https://dcode.domenade.com/tutorials/how-to-style-html-tables-with-css */

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #36454f;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid gray;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #36454f;
}